* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.nav {
    background-color: rgb(255, 255, 255);
    width: 1536px;
    height: 150px
}

.logosenai {
    margin-left: 20px;
}

.fotofundo img {
    margin: 0;
    height: 575px;
    width: 1536px;
}

.textofundo {
    color: rgb(252, 252, 252);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.destino {
    background-color: white;
    height: 575px;
    width: 1536px;
    font-size: 30px;

}

.titulodestino {
    margin-left: 350px;
}

.destino {
    gap: 10px;
    align-items: flex-end;
}


.items {
    display: flex;
    align-items: flex-start;
    padding-left: 350px;

}

.items img {
    width: 350px;
    height: auto;
    margin-top: 10px;
    align-items: center;
}

.items p {
    width: 600px;
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 350px;
}
